body > div {
    height: 1100px;
    display: flex;
}

#skydiving-image {
    position: relative;
    width: 900px;
    height: 650px;
    margin-bottom: 20px;
}

#skydiving-image-2 {
    position: relative;
    width: 900px;
    height: 650px;
}